.galleryContent {
  margin: 20px;
  width: 100%;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  position: relative;

  .panel-title {
    height: 40px;
    width: 100%;
    background: #f2f2f2;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid #e9e9e9;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 20px;
      font-weight: 600;
    }

    .action {
      button {
        font-size: 12px;
        padding: 5px 5px;
      }
    }
  }

  .panel-content {
    min-height: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .galleryContent {
    width: calc(100% - 255px);
    margin-left: 255px;
    transition: all 0.2s ease-in-out;
  }
}

.select-image {
  position: absolute;
  height: 376px;
  width: 300px;
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  top: 45px;
  right: calc(50% - 150px);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  transition: all 0.2s ease-in-out;
  display: none;
  z-index: 999;


  input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 34px;
    cursor: pointer;
    padding-right: 5px;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &::before {
      content: 'Select File';
      display: inline-block;
      background: #f2f2f2;
      border-right: 1px solid #aaaaaa;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
    }

    &:hover {
      border-color: #68956c;
    }
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
  }

  button {
    margin-left: 10px;
    padding: 0 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  }

  .btn-width, .btn-no{
    width: 59px;
  }

  .img-name-input {
    background: transparent;
    padding: 0 5px;
    height: 34px;
    border-color: #aaaaaa;

    &:hover {
      border-color: #68956c;
    }
  }

  .show-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 200px;
      max-height: 200px;
    }
  }

  .delete-question {
    font-size: 20px;
    font-family: Poppins-Regular;
    padding-bottom: 20px;
  }
}

.delete-card {
  height: 318px;
}