.panel-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f2f2f280;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .img-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    transition: display 0.2s ease-in-out;
    padding: 20px;

    .actions {
      width: 18px;
      height: 100%;
      margin-left: calc(100% - 18px);

      .icon {
        width: 18px;
        height: 18px;
        background-size: cover;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }

  &:hover {
    .img-hover {
      display: flex;
    }
  }
}

.icon-edit {
  background: url('./../../assets/icons/edit.svg')
}

.icon-delete {
  background: url('./../../assets/icons/delete.svg')
}
