.sidebar-toggle {
  background: #343a40;
}
.sidebar {
  background: #212529;
  width: 225px;
  min-height: calc(100vh - 56px);
  position: absolute;
  left: -225px;
  position: absolute;
  color: #ffffff;
  transition: left 0.2s ease-in-out;
  padding-top: 50px;
  z-index: 999;
}

@media screen and (min-width: 767px) {
  .sidebar {
    left: 0;
  }
}

.sidebar-button {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  margin-bottom: 5px;
  align-items: center;

  &:hover {
    background: #303438;
  }

  .title a {
    color: #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}

.icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.icon-gallery {
  background: url('./../../assets/icons/gallery.svg');
  background-size: cover;
}

.icon-logout {
  background: url('./../../assets/icons/logout.svg');
  background-size: cover;
}

