// Import Fonts From sass/Fonts

@font-face {
  font-family: AvenirNextCyr-Medium;
  src: url('./../assets/fonts/AvenirNextCyr-Medium.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('./../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./../assets/fonts/Poppins-SemiBold.ttf');
}

