body {
  min-height: 100vh;
}

.content {
  display: flex;
}

.sidebar-toggle {
  background: #343a40;
}

.sidebar {
  background: #212529;
  width: 225px;
  min-height: calc(100vh - 56px);
  position: absolute;
  left: -225px;
  position: absolute;
  color: #ffffff;
  transition: left 0.2s ease-in-out;
  padding-top: 50px;
  z-index: 999;
}

@media screen and (min-width: 767px) {
  .sidebar {
    left: 0;
  }
}

.sidebar-button {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  margin-bottom: 5px;
  align-items: center;
}

.sidebar-button:hover {
  background: #303438;
}

.sidebar-button .title a {
  color: #ffffff;
}

.sidebar-button .title a:hover {
  text-decoration: none;
}

.icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.icon-gallery {
  background: url(/images/gallery.svg?577902fba686a013a5fa69af49e2dbeb);
  background-size: cover;
}

.icon-logout {
  background: url(/images/logout.svg?96e39b4a21a47a8b8603551142c3e1eb);
  background-size: cover;
}

.galleryContent {
  margin: 20px;
  width: 100%;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  position: relative;
}

.galleryContent .panel-title {
  height: 40px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid #e9e9e9;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.galleryContent .panel-title p {
  font-size: 20px;
  font-weight: 600;
}

.galleryContent .panel-title .action button {
  font-size: 12px;
  padding: 5px 5px;
}

.galleryContent .panel-content {
  min-height: 100px;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .galleryContent {
    width: calc(100% - 255px);
    margin-left: 255px;
    transition: all 0.2s ease-in-out;
  }
}

.select-image {
  position: absolute;
  height: 376px;
  width: 300px;
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  top: 45px;
  right: calc(50% - 150px);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  display: none;
  z-index: 999;
}

.select-image input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  height: 34px;
  cursor: pointer;
  padding-right: 5px;
}

.select-image input::-webkit-file-upload-button {
  visibility: hidden;
}

.select-image input::before {
  content: "Select File";
  display: inline-block;
  background: #f2f2f2;
  border-right: 1px solid #aaaaaa;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.select-image input:hover {
  border-color: #68956c;
}

.select-image .button-row {
  display: flex;
  justify-content: flex-end;
}

.select-image button {
  margin-left: 10px;
  padding: 0 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.select-image .btn-width,
.select-image .btn-no {
  width: 59px;
}

.select-image .img-name-input {
  background: transparent;
  padding: 0 5px;
  height: 34px;
  border-color: #aaaaaa;
}

.select-image .img-name-input:hover {
  border-color: #68956c;
}

.select-image .show-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-image .show-img img {
  max-width: 200px;
  max-height: 200px;
}

.select-image .delete-question {
  font-size: 20px;
  font-family: Poppins-Regular;
  padding-bottom: 20px;
}

.delete-card {
  height: 318px;
}

.panel-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f2f2f280;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.photo-card img {
  max-height: 100%;
  max-width: 100%;
}

.photo-card .img-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  transition: display 0.2s ease-in-out;
  padding: 20px;
}

.photo-card .img-hover .actions {
  width: 18px;
  height: 100%;
  margin-left: calc(100% - 18px);
}

.photo-card .img-hover .actions .icon {
  width: 18px;
  height: 18px;
  background-size: cover;
  margin-bottom: 5px;
  cursor: pointer;
}

.photo-card:hover .img-hover {
  display: flex;
}

.icon-edit {
  background: url(/images/edit.svg?65bdb0fca0cc46c3d7401e480578501e);
}

.icon-delete {
  background: url(/images/delete.svg?1f0eb8401de9b6f3031a03567650cce7);
}

