.facts-bg {
  position: relative;
}

.facts-bg img {
  width: 80%;
}

.facts-bg .block-container {
  position: absolute;
}

.facts-bg .block-container-inner {
  height: 527px;
  width: 556px;
  position: relative;
}

.facts-bg .block-container-inner .block-1,
.facts-bg .block-container-inner .block-2 {
  width: 316px;
  height: 316px;
  position: absolute;
}

.facts-bg .block-container-inner .block-1 {
  background: #cad360;
  top: 0;
  right: 0;
}

.facts-bg .block-container-inner .block-2 {
  background: #293d83;
  bottom: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: auto 0;
}

.facts-bg .block-container-inner .block-2 .text-years {
  font-size: 85px;
  font-family: Poppins-Regular;
  line-height: 72px;
  letter-spacing: 2px;
  font-weight: 600;
}

.facts-bg .block-container-inner .block-2 .text-description {
  line-height: 44px;
  font-size: 20px;
  font-family: Poppins-Regular;
  letter-spacing: 2px;
  font-weight: 600;
}

.typography {
  margin-bottom: 132px;
}

.typography .title {
  font-size: 17px;
  font-weight: 600;
  font-family: Poppins-Regular;
  letter-spacing: 2px;
  width: 263px;
  margin: 0 auto;
}

.typography .example-cont {
  font-family: AvenirNextCyr-Medium;
}

.typography .example-cont .text-col {
  width: 263px;
}

.typography .example-cont .text-col .letters {
  font-size: 52px;
  color: #293d83;
}

.typography .example-cont .text-col .font-name {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 32px;
}

.typography .example-cont .text-col .text {
  font-size: 13px;
}

.typography .example-cont .text-col .text-uppercase {
  text-transform: uppercase;
}

.typography .example-cont .vertical-line {
  width: 1px;
  border-right: 1px solid #d9d9d9;
  height: 179px;
  margin: auto 0;
  margin-right: 46px;
  margin-left: 66px;
}

.typography .example-cont .horizontal-line {
  width: 70%;
  height: 1px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
}

.typography .example-cont .color-col {
  display: flex;
  justify-content: center;
}

.typography .example-cont .color-col .color {
  width: 174px;
  padding: 0 26px;
}

.typography .example-cont .color-col .color p {
  text-align: center;
}

.typography .example-cont .color-col .color-293d83,
.typography .example-cont .color-col .color-4da4ff {
  width: 122px;
  height: 122px;
  border-radius: 4em;
}

.typography .example-cont .color-col .color-293d83 {
  background: #293d83;
}

.typography .example-cont .color-col .color-4da4ff {
  background: #4da4ff;
}

.typography .example-cont .color-col .code {
  font-size: 17px;
  font-family: Poppins-Regular;
  line-height: 26px;
  margin-top: 24px;
}

@media screen and (max-width: 750px) {
  .typography .vertical-line {
    display: none;
  }

  .typography .text-col {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .typography .color-col {
    margin-top: 20px;
  }
}

@media screen and (min-width: 750px) {
  .typography .title {
    width: 724px;
  }

  .typography .horizontal-line {
    display: none;
  }

  .typography .example-cont {
    display: flex;
    justify-content: center;
  }

  .typography .color-col {
    margin: auto 0;
  }
}

@media screen and (min-width: 1000px) {
  .typography .title {
    width: 820px;
  }

  .typography .text-col {
    width: 368px !important;
  }

  .typography .text-col .letters {
    font-size: 71px !important;
  }

  .typography .text-col .font-name {
    font-size: 24px !important;
  }

  .typography .text-col .text {
    font-size: 17px !important;
  }
}

.screens {
  height: 630px;
  width: 100%;
  display: flex;
}

.img-card {
  height: 100%;
}

.img-card img {
  margin: 0 7px;
  height: 630px;
  vertical-align: middle;
}

@media screen and (max-height: 700px) {
  .screens {
    height: 230px;
  }

  .img-card img {
    height: 230px;
  }
}

.slick-prev {
  visibility: hidden;
  position: absolute;
}

.slick-next {
  text-indent: -9999px;
  border: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.34));
  position: absolute;
  right: 0;
  height: 100%;
}

.slick-next:focus {
  outline: none;
}

.slick-next::after {
  content: "";
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 64px;
  width: 34px;
  background: url(/images/slideArrow.svg?7ae59d7a7c7053bb364091ad6bc04439);
  background-repeat: no-repeat;
}

.no-images {
  height: 630px;
  width: 100%;
  background: #31363b;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-it-live {
  font-family: Poppins-Regular;
  margin: 130px 0 130px 0;
}

.see-it-live .link-description {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

.see-it-live .link {
  font-size: 24px;
  color: #293d83;
  letter-spacing: -1px;
  text-align: center;
}

.see-it-live .underline {
  width: 255px;
  height: 1px;
  border-bottom: 2px solid #293d83;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .see-it-live .link {
    font-size: 50px;
  }

  .see-it-live .underline {
    width: 555px;
  }
}

* {
  box-sizing: border-box;
}

.footer-bg {
  background: #f4f4f4;
  width: 100vw;
  height: 141px;
  border: 1px solid transparent;
  display: flex;
}

.footer-bg .previous,
.footer-bg .next {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto 0;
  line-height: 38px;
  letter-spacing: 2px;
  font-size: 17px;
}

.footer-bg .previous span,
.footer-bg .previous div,
.footer-bg .next span,
.footer-bg .next div {
  text-transform: uppercase;
  color: #898989;
}

.footer-bg .previous .action-title,
.footer-bg .next .action-title {
  font-weight: bold;
  margin: 0 5px;
}

.footer-bg .previous .action-title,
.footer-bg .previous .page-row,
.footer-bg .next .action-title,
.footer-bg .next .page-row {
  cursor: pointer;
}

.footer-bg .vertical-line {
  width: 1px;
  height: 81px;
  border-right: 1px solid #cdcdcd;
  margin: auto 0;
}

.action-row {
  display: flex;
  justify-content: center;
}

.action-row .left-arrow {
  background: url(/images/arrow-left.svg?3456d9d17564c38a3d120c5a4a8f10d5);
  width: 23px;
  height: 14px;
  margin: auto 0;
}

.action-row .right-arrow {
  background: url(/images/arrow-right.svg?68776678d5aa84ea96d096ac9e6d4d93);
  width: 23px;
  height: 14px;
  margin: auto 0;
}

.action-row:hover .action-title {
  color: #0000ff;
}

.action-row:hover .left-arrow {
  background: url(/images/arrow-left-hover.svg?82b945ce5dba0f01e5bc28103afd9aa8);
}

.action-row:hover .right-arrow {
  background: url(/images/arrow-right-hover.svg?8647d97e7721c4e44813feabb0fff789);
}

@media only screen and (max-width: 700px) {
  .previous,
  .next {
    flex-wrap: wrap;
  }

  .action-row {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .previous .page-name {
    order: 2;
  }

  .previous .action-row {
    order: 1;
  }
}

