.facts-bg {
  position: relative;
  // width: 100vw;
  // height: 100vh;
    img {
      width: 80%;
    }

  .block-container {
    position: absolute;
  }

  .block-container-inner {
    height: 527px;
    width: 556px;
    position: relative;

    .block-1, .block-2 {
      width: 316px;
      height: 316px;
      position: absolute;
    }

    .block-1 {
      background: #cad360;
      top: 0;
      right: 0;
    }

    .block-2 {
      background: #293d83;
      bottom: 0;
      left: 0;
      color: #ffffff;
      // display: table;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: auto 0;

      .text-years {
        font-size: 85px;
        font-family: Poppins-Regular;
        line-height: 72px;
        letter-spacing: 2px;
        font-weight: 600;
      }

      .text-description {
        line-height: 44px;
        font-size: 20px;
        font-family: Poppins-Regular;
        letter-spacing: 2px;
        font-weight: 600;
      }
    }
  }
}