* {box-sizing: border-box}

.footer-bg {
  background: #f4f4f4;
  width: 100vw;
  height: 141px;
  border: 1px solid transparent;

  display: flex;

  .previous, .next {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto 0;
    line-height: 38px;
    letter-spacing: 2px;
    font-size: 17px;
    // padding: 0 20px;

    span, div {
      text-transform: uppercase;
      color: #898989;
    }

    .action-title {
      font-weight: bold;
      margin: 0 5px;
    }

    .action-title, .page-row {
      cursor: pointer;
    }
  }

  .vertical-line {
    width: 1px;
    height: 81px;
    border-right: 1px solid #cdcdcd;
    margin: auto 0;
  }
}

.action-row {
  display: flex;
  justify-content: center;
  .left-arrow {
    background: url('./../../assets/icons/arrow-left.svg');
    width: 23px;
    height: 14px;
    margin: auto 0;
  }

  .right-arrow {
    background: url('./../../assets/icons/arrow-right.svg');
    width: 23px;
    height: 14px;
    margin: auto 0;
  }

  &:hover {
    .action-title { color: #0000ff }

    .left-arrow { background: url('./../../assets/icons/hover/arrow-left-hover.svg') }

    .right-arrow { background: url('./../../assets/icons/hover/arrow-right-hover.svg') }
  }
}

@media only screen and (max-width: 700px) {
  .previous, .next {
    flex-wrap: wrap;
  }

  .action-row {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .previous {
    .page-name { order: 2 }
    .action-row { order: 1 }
  }
}