.screens {
  height: 630px;
  width: 100%;
  display: flex;

}

.img-card {
  height: 100%;

  img {
    margin: 0 7px;
    height: 630px;
    vertical-align: middle;
  }
}

@media screen and (max-height: 700px) {
  .screens { height: 230px }

  .img-card {
    img {
      height: 230px;
    }
  }
}

.slick-prev {
  visibility: hidden;
  position: absolute;
}

.slick-next {
  text-indent: -9999px;
  border: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.34));
  position: absolute;
  right: 0;
  height: 100%;

  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    text-indent: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    // line-height: initial;
    height: 64px;
    width: 34px;
    background: url('./../../assets//icons//slideArrow.svg');
    background-repeat: no-repeat;
  }
}

.no-images {
  height: 630px;
  width: 100%;
  background: #31363b;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}