.see-it-live {
  font-family: Poppins-Regular;
  margin: 130px 0 130px 0;

  .link-description {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
  }

  .link {
    font-size: 24px;
    color: #293d83;
    letter-spacing: -1px;
    text-align: center;
  }

  .underline {
    width: 255px;
    height: 1px;
    border-bottom: 2px solid #293d83;
    margin: 0 auto;
  }

  @media screen and (min-width: 600px) {
    .link { font-size: 50px }

    .underline { width: 555px }
  }
}