.typography {
  margin-bottom: 132px;
  .title {
    font-size: 17px;
    font-weight: 600;
    font-family: Poppins-Regular;
    letter-spacing: 2px;
    width: 263px;
    margin: 0 auto;
  }

  .example-cont {
    font-family: AvenirNextCyr-Medium;
    .text-col {
      width: 263px;
      .letters {
        font-size: 52px;
        color: #293d83;
      }

      .font-name {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 32px;
      }

      .text {
        font-size: 13px;
      }

      .text-uppercase {
        text-transform: uppercase;
      }
    }

    .vertical-line {
      width: 1px;
      border-right: 1px solid #d9d9d9;
      height: 179px;
      margin: auto 0;
      margin-right: 46px;
      margin-left: 66px;
    }

    .horizontal-line {
      width: 70%;
      height: 1px;
      border-bottom: 1px solid #d9d9d9;
      margin: 0 auto;
    }

    .color-col {
      display: flex;
      justify-content: center;
      .color {
        width: 174px;
        padding: 0 26px;
        p { text-align: center }
      }

      .color-293d83, .color-4da4ff {
        width: 122px;
        height: 122px;
        border-radius: 4em;
      }

      .color-293d83 { background: #293d83 }
      .color-4da4ff { background: #4da4ff }

      .code {
        font-size: 17px;
        font-family: Poppins-Regular;
        line-height: 26px;
        margin-top: 24px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .vertical-line { display: none }

    .text-col {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .color-col {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 750px) {
    .title { width: 724px }

    .horizontal-line { display: none }

    .example-cont {
      display: flex;
      justify-content: center;
    }

    .color-col {
      margin: auto 0;
    }
  }

  @media screen and (min-width: 1000px) {
    .title { width: 820px }

    .text-col {
      width: 368px !important;
      .letters {
        font-size: 71px !important;
      }

      .font-name { font-size: 24px !important }

      .text { font-size: 17px !important }
    }
  }
}